<div id="<%= dom_id family %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Center:</strong>
    <%= family.center_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= family.name %>
  </p>

</div>
