<div id="<%= dom_id center %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= center.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Subdomain:</strong>
    <%= center.subdomain %>
  </p>

</div>
